p {
    margin: 1.5mm 0;
}

.card_frame {
    border: 0.5mm dashed black;
    float: left;
    width: 60mm;
    height: 85mm;
    page-break-inside: avoid;
}

.card_inner {
    padding: 2mm;
    font-family: monospace;
    font-size: 3.5mm;
}

.split_left {
    border-bottom: 0.5mm solid black;
}

.flip_top {
    border-bottom: 0.5mm solid black;
}

.flip_bottom {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.flip_bottom .manacost {
    display: none;
}

.name {
    display:inline-block;
    font-weight: bold;
    width: 65%;
}

.manacost {
    display:inline-block;
    width: 35%;
    text-align: right;
}

.oracle_text {
    font-size: 75%;
}

.power_toughness {
    text-align: right;
}

.loyalty {
    text-align: right;
}
