p {
    margin-top: 0mm;
    margin-bottom: 1mm;
    margin-right: 0mm;
    margin-left: 0mm;
}

.card_frame {
    border: 0.5mm dashed black;
    float: left;
    width: 60mm;
    height: 85mm;
    page-break-inside: avoid;
    overflow: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);

.card_inner {
    padding: 1.5mm;
    font-family: 'Sorts Mill Goudy', monospace;
    font-size: 3.75mm;
}

.split_left {
    border-bottom: 0.5mm solid black;
    margin-bottom: 1mm;
}

.flip_top {
    border-bottom: 0.5mm solid black;
    margin-bottom: 1mm;
}

.flip_bottom {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.flip_bottom .manacost {
    display: none;
}

.name {
    display:inline-block;
    font-weight: bold;
    width: 65%;
}

.manacost {
    display:inline-block;
    width: 35%;
    text-align: right;
}

.oracle_p {
    font-size: 75%;
}

.power_toughness {
    text-align: right;
}

.loyalty {
    text-align: right;
}
